:root {
    --secondary-color-hover: #6144b9c0;
}

.btn-add {
    background-color: var(--secondary-color-hover);
    border-radius: 0.4rem;
    border: 0px;
    padding: 0.4rem 0.8rem;
    color: var(--text-white);
}

.btn-add:hover {
    background-color: var(--secondary-color);
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    color: var(--text-white);
}